
@{
    ViewBag.Title = "Про програму";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<hr />
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8 text-center">

        <div class="card border-secondary">
            <div class="card-header">Курсова робота</div>
            <div class="card-body">
                <h4 class="card-title">"Дихотомічне розбиття графа з метою мінімізації ваги ребер розрізу"</h4>
                <p class="card-text"><em>Розв'язання задачі розбиття на випадково згенерованих графах двома алгоритмами.<br />Порівняльний аналіз алгоритмів.</em><br><br>Виконали студенти 3 курсу групи ІС-51 ФІОТ АСОІУ: </p>Как Самір<br>Штик Василь<br>

            </div>
        </div>
    </div>
    <div class="col-md-2"></div>
</div>
